<footer class="footer">
  <div class="container footer__layout">
    <div class="footer__branding">
      <img src="assets/img/logo-footer.svg" alt="Jana Schaaf" />
      <p>© Jana Schaaf 2026</p>
    </div>

    <a class="footer__back-to-top" href="#top" aria-label="Zurück nach oben">
      <img src="assets/img/icons/arrow-up.svg" alt="" />
    </a>

    <nav class="footer__links" aria-label="Social Media">
      <!-- GitHub, E-Mail und LinkedIn -->
    </nav>

    <a routerLink="/legal-notice">Legal notice</a>
  </div>
</footer>