@use '../styles/colors' as *;

@font-face {
  font-family: "Syne";
  src: url(/assets/fonts/Syne-VariableFont_wght.ttf);
  font-weight: 400 800;
  font-style: normal;
}

@font-face {
  font-family: "Overpass";
  src: url(/assets/fonts/Overpass-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Syne", sans-serif;
  font-weight: 800;
}

h1 {
  text-align: center;
  font-size: clamp(27px, calc(11.5vw - 9.8px), 128px);
  line-height: 1;
}

h2 {
  font-size: clamp(28px, calc(6.82vw + 6.18px), 76px);
  font-weight: 800;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: $highlight;
  }
}

h3 {
  font-size: clamp(26px, calc(2.7vw + 17.36px), 45px);
  font-weight: 800;
  line-height: 1.2;
}

@media (min-width: 1024px) {
  h3 {
    line-height: 1;
  }
}
