@use '../styles/colors' as *;

@font-face {
  font-family: "Bricolage Grotesque";
  src: url(/assets/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf);
  font-weight: 200 800;
  font-style: normal;
}

body {
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  transition: color 0.25s ease-in-out;

  &:hover {
    color: $highlight;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 76px;
  }
}

h3 {
  font-size: 32px;
  font-weight: 800;
  line-height: 1.2;
}

@media (min-width: 1024px) {
  h3 {
    font-size: 45px;
    line-height: 1;
  }
}

p {
  font-size: 18px;
  line-height: 1.5;
}