.container {
  width: min(100% - 32px, 1200px);
  margin-inline: auto;
  padding-inline: 16px;
}

.section-intro {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .section-intro {
    margin-bottom: 80px;
  }

  .section-intro_text {
    margin: 0 auto;
    width: 600px;
  }
}