@use '../../../styles/colors' as *;

.contact-headline{
    color: $highlight;
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.contact__intro{
    margin-block: 40px;
}

