:host {
  display: block;
  width: 100%;
}

.headline--main {
  width: 100%;
  text-align: center;
}

.headline--main__left_contact{
  text-align: left;
}

@media (min-width: 1024px) {
  .headline--main_left {
    text-align: left;
  }
}