/* You can add global styles to this file, and also import other style files */
@use './styles/utilities';
@use './styles/typography';
@use './styles/colors' as *;

html {
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    margin:0;
    background-color: $background;
}

button{
    cursor: pointer;
    border: none;
    background: unset;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}
