/* You can add global styles to this file, and also import other style files */
@use './styles/utilities';
@use './styles/typography';
@use './styles/colors' as *;

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background;
}

body.menu-open {
  overflow: hidden;
}

button {
  cursor: pointer;
}
