:host {
  display: block;
  width: 100%;
  padding-block: 48px;
}

.portfolio__projects {
  display: grid;
  gap: 96px;
}

@media (min-width: 1024px) {
  :host {
    padding-block: 80px;
  }

  .portfolio__projects {
    gap: 144px;
  }
}
